.versiono {
    background-color:rgb(202, 202, 202);
    border-radius: 2px;
    color: black;
    padding:2px;
}

.clientsContainer{
    width: 100%;
    height: 100%;
    //background: #f0f2f5;;
}

mat-card{
    border-radius: 5px;
}