/*Navigation*/
mat-toolbar {
    height: 53;
    position: sticky;
    position: -webkit-sticky;
    top: 0;
    z-index: 1000;
}

button:focus{
    outline: 0;
}

.logo{
    color: #263b5e;
}

.home{
    color: #263b5e;
    font-family: "Open Sans", sans-serif;
}

.spacer {
    flex: 1 1 auto;
}

.main-nav{
    background-color: white;
}

.main-nav a{
    text-decoration: none;
}

.profileImageContainer{
    width: 33px;
    height: 33px;
    margin-right: 10px;
}

.profile-image {
    width: 33px;
    height: 33px;
    border-radius: 33px;
    background: #263b5e;
}

.name {
    width: 100%;
    text-align: center;
    color: white;
    font-size: 16px;
    line-height: 33px;
}
.notificationsIconContainer{
    margin-right: 15px;
}

.notifications-icon{
    width: 26px;
    height: 26px;
    font-size: 26px;
}

::ng-deep.mat-menu-panel {
    max-width: none !important;
    min-height: none !important;
    border-radius: 7px !important;
}

.noticationsMenu{
    max-width: 350px;
    min-width: 250px;
}

.notificationItem {
    width: 330px;
    height: 74px;
}

.noticationsMenuTitle{
    display: flex;
    flex-wrap: wrap;
    justify-content: space-between;
    margin: 8px 15px;
}

.notificationsMenuSubtitles{
    margin: 8px 15px;
}

.notificationImage{
    width: 56px;
    height: 56px;
    border-radius: 56px;
}

.notification{
    display: flex;
    flex-wrap: wrap;
    margin: 5px 0px;
}

.message{
    margin: 0px;
}
