<mat-toolbar class="mat-elevation-z2 main-nav">
    
    <mat-icon class="logo">dashboard</mat-icon>
    <a class="home" routerLink="">SIMOO</a>
  
    <div class="spacer"></div>
    <mat-icon class="notifications-icon"  matBadge="8" matBadgePosition="before">notifications_none</mat-icon>
    
    <button mat-icon-button [matMenuTriggerFor]="menu" aria-label="Example icon-button with a menu">
        <div class="profile-image" >
            <div class="name">
                {{profileName}}
             </div>
        </div>
    </button>
    <mat-menu #menu="matMenu">
        <button mat-menu-item>
            <mat-icon>account_circle</mat-icon>
            <span>Profile</span>
        </button>
        <button mat-menu-item (click)="logout()">
            <mat-icon>input</mat-icon>
            <span>Logout</span>
        </button>
    </mat-menu>

</mat-toolbar>
<router-outlet></router-outlet>