<mat-toolbar class="mat-elevation-z2 main-nav"  style="min-height: 53px !important; height: 53px !important;">
    
    <mat-icon class="logo">dashboard</mat-icon>
    <a class="home" routerLink="../monitor">SIMO</a>
    
    <div class="spacer"></div>
    <button mat-icon-button class="notificationsIconContainer">
        <a routerLink="../monitor"  class="notifications-icon"><mat-icon>home</mat-icon></a>
    </button>
    <button mat-icon-button class="notificationsIconContainer" [matMenuTriggerFor]="notificationsMenu" (click)="onNotificationsClick()">
        <mat-icon class="notifications-icon" [matBadge]="badgeContent" matBadgePosition="before" matBadgeSize="small">notifications_none</mat-icon>
    </button>
    <mat-menu #notificationsMenu="matMenu" xPosition="before" class="noticationsMenu">
        <div class="noticationsMenuTitle"> 
            <h4>Notifications</h4>
            <a routerLink="user/notifications">View all</a>
        </div>
        <div class="notificationsMenuSubtitles">
            <h6>Earlier</h6>
        </div>
        <div mat-menu-item class="notificationItem" *ngFor="let hearlierNotification of hearlierNotifications">
            <a class="notification" routerLink="{{hearlierNotification.clientId}}/transactions">
                <div style="width: 20%;">
                    <img src="https://cdn.iconscout.com/icon/free/png-256/elasticsearch-226094.png" class="notificationImage" alt="Notification Image">
                </div>
                <div  style="width: 80%;" class="message">
                    <p>
                        {{hearlierNotification.message}}
                    </p>
                    <div>
                        {{hearlierNotification.date}}
                    </div>
                </div>
            </a>
        </div>
        <div class="notificationsMenuSubtitles">
            <h6>Previus</h6>
        </div>
        <div mat-menu-item class="notificationItem"  *ngFor="let notification of notifications">
            <div class="notification">
                <div style="width: 20%;">
                    <img src="https://cdn.iconscout.com/icon/free/png-256/elasticsearch-226094.png" class="notificationImage" alt="Notification Image">
                </div>
                <div  style="width: 80%;" class="message">
                    <p>
                        {{notification.message}}
                    </p>
                    {{notification.date}}
                </div>
            </div>
        </div>
    </mat-menu>
    
    <button mat-icon-button class="profileImageContainer" [matMenuTriggerFor]="userMenu" aria-label="profile">
        <div class="profile-image" >
            <div class="name">
                {{profileName}}
             </div>
        </div>
    </button>
    <mat-menu #userMenu="matMenu">
        <a class="profile" routerLink="user/profile">
            <button mat-menu-item>
                <mat-icon>account_circle</mat-icon>
                <span>Profile</span>
            </button>
        </a>
        <button mat-menu-item (click)="logout()">
            <mat-icon>input</mat-icon>
            <span>Logout</span>
        </button>
    </mat-menu>

</mat-toolbar>
<router-outlet></router-outlet>