.transactionsTable{
    width: 100%;
}

.transactionsContainer{
    margin-top: 15px;
}

.clientName{
    font-weight: 100;
}

.row{
    padding: 0px 15px;
}

.controlsContainer{
    padding: 0;
    margin-top: 5px;
}

.mat-form-field {
    height: 35px;
}

.search-form {
    width: 100%;
}

.succeed-form {
    width: 150px;
    font-size: 12.5px;
}

.refresh-button {
    width: 100%;
}

.list-item {
    font-weight: 400;
    font-size: 12px;
    height: 45px;
}

mat-selection-list {
    max-height: 500px;
    overflow: auto;
}


footer{
    background-color: #f0f2f5;
    width: 100%;
    margin-top: 5rem;
}

.footer-container {
    padding: 3rem;
}

button:focus{
    outline: 0;
}