<div class="container">
    <div class="row">

    </div>
    <div class="row">
        <h2 class="clientName">{{client.name | uppercase}}</h2>
    </div>
    <mat-divider></mat-divider>
    <div class="row controlsContainer">
        <div class="col-md-4">
            <form (ngSubmit)="search()">
                <mat-form-field class="search-form">
                  <input type="text"
                         placeholder="Search"
                         aria-label="Number"
                         matInput
                         [formControl]="searchControl"
                         [matAutocomplete]="auto">
                  <mat-autocomplete #auto="matAutocomplete">
                    <mat-option *ngFor="let option of searchOptions | async" [value]="option">
                      {{option}}
                    </mat-option>
                  </mat-autocomplete>
                </mat-form-field>
              </form>
        </div>
        <div class="col-md-2">
          <mat-form-field appearance="fill" class="succeed-form">
            <mat-label>Succeed</mat-label>
            <mat-select [(value)]="succeedSelected">
              <mat-option value="default">
                default
              </mat-option>
              <mat-option value="true">
                true
              </mat-option>
              <mat-option value="false">
                false
              </mat-option>
            </mat-select>
          </mat-form-field>
        </div>
        <div class="col-md-4">

        </div>
        <div class="col-md-2">

        </div>
    </div>
    <div class="row transactionsContainer">
        <div class="col-md-10" style="padding:0;">
            <app-transactions-table [params]="transactionsInputParams" class="transactionsTable"></app-transactions-table>
        </div>
        <div class="col-md-2">
            <form>
                <mat-form-field>
                  <mat-label>Service</mat-label>
                  <input
                  matInput
                  [formControl]="servicesControl">
                </mat-form-field>
            </form>
            <mat-selection-list #servicesv [multiple]="false">
              <mat-list-option *ngFor="let service of servicesFiltered | async" [value]="service" class="list-item">
                {{service}}
              </mat-list-option>
            </mat-selection-list>
        </div>
    </div>
    <footer>
      <div class="container footer-container">
          <div class="row">
            <div class="col-md-12 text-center">
              <p>Copyright &copy;<script>document.write(new Date().getFullYear());</script> All rights reserved by <a href="http://www.omnixsystem.com/es/" target="_blank">Omnix</a></p>
            </div>
          </div>
        </div>
  </footer>
</div>