<mat-sidenav-container class="example-container">
    <mat-sidenav #sidenav mode="side" opened class="mat-elevation-z1">
        <mat-nav-list *ngFor="let item of menu">
            <a mat-list-item routerLink="{{item.link}}"><mat-icon class="menuIcon">{{item.icon}}</mat-icon><span class="menuTitle">{{item.title}}</span></a>
            <mat-divider></mat-divider>
        </mat-nav-list>
    </mat-sidenav>
    <mat-sidenav-content>
        <!--<button (click)="sidenav.toggle()">toggle</button>-->
        <router-outlet></router-outlet>
    </mat-sidenav-content>
</mat-sidenav-container>